@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
.container1 {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 50px 100px 1fr 150px 650px 1000px 350px;
}

.enlace {
  margin-left: 67%;
}
.enlace-link {
  text-decoration: none;
  color: white;
  font-family: Roboto;
  font-size: 25px;
  padding: 10px;
  background-color: #cf9494;
  border: 2px solid white;
}

.header {
  background-color: #E4A1A1;
  grid-column: 1/span 6;
  grid-row: 1/span 3;
  box-sizing: border-box;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100vh);
          clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100vh);
}
.header-title {
  display: flex;
  justify-content: space-between;
  font-family: Roboto;
  font-size: 30px;
  color: white;
  padding: 35px 25px;
}
.header-image {
  display: flex;
  height: 75%;
  width: 100%;
}

.title-pastel {
  display: grid;
  grid-column: 1/span 6;
  grid-row: 4/span 1;
}

h1 {
  display: flex;
  justify-content: center;
  color: #E4A1A1;
  font-family: Roboto;
  font-size: 40px;
}

.card {
  display: grid;
  background-color: #E4A1A1;
  margin: 0 10px 0 10px;
  box-sizing: border-box;
  height: 430px;
  color: white;
}
.card-list {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.card-list-name {
  display: flex;
  justify-content: center;
}
.card-list-img {
  display: block;
  margin: auto;
  margin-top: 20px;
  width: 80%;
  height: 150px;
}
.card-list-precio {
  margin-top: -10px;
  text-align: center;
}
.card-list-desc {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  margin-top: -20px;
}
.card-list-btn {
  font-family: Roboto;
  color: white;
  font-size: 15px;
  background-color: #cf9494;
  width: 40%;
  border-radius: 100px;
  border: 2px solid white;
  padding: 10px 20px;
  justify-content: center;
  display: flex;
  margin: auto;
  cursor: pointer;
  transition: 0.2s all;
}
.card-list-btn:active {
  transform: translateY(4px);
}

footer {
  margin-top: 10px;
  padding: 50px;
  display: grid;
  grid-column: 1/-1;
  color: white;
  font-family: Roboto;
  font-size: 15px;
  background-color: #b37a7a;
}

.footer-direccion {
  margin: 10px;
}

/* The Modal (background) */
.modal {
  display: grid;
  grid-column: 1/-1;
  grid-row: 6/span 1;
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  font-family: Roboto;
  margin: auto;
  margin-top: -100px;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 950px;
}

input[type=text], [type=email], select, textarea {
  width: 50%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.submit-btn {
  font-family: Roboto;
  color: white;
  font-size: 15px;
  background-color: #f0aeae;
  width: 15%;
  margin-top: 30px;
  border-radius: 100px;
  border: 2px solid white;
  padding: 10px 20px;
  justify-content: center;
  display: flex;
  cursor: pointer;
  transition: 0.2s all;
}
.submit-btn:active {
  transform: translateY(4px);
}

label {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.container2 {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 50px 100px 1fr 1fr;
}

.title-pastelero {
  display: grid;
  grid-column: 1/-1;
  background-color: #E4A1A1;
  text-align: center;
  font-family: Roboto;
  font-size: 30px;
  color: white;
  font-weight: bold;
}

.title-ingredientes {
  font-size: 30px;
  grid-column: 1/-1;
  margin-top: 60px;
  margin-bottom: -10px;
}

.title-pedidos {
  font-size: 30px;
  grid-column: 1/-1;
  margin-top: 60px;
}

.container-ingredientes {
  display: grid;
  grid-column: 1/-1;
  grid-row: 2/span 3;
  grid-template-columns: 1fr 1fr;
  font-family: Roboto;
  color: white;
}
.container-ingredientes--sabores {
  width: 90%;
  margin-top: 20px;
  margin-left: 40px;
  grid-row: 2;
}
.container-ingredientes--adornos {
  width: 90%;
  margin-top: 20px;
  grid-row: 2;
  margin-left: 15px;
}

.customers {
  width: 100%;
  text-align: center;
}

td {
  margin: 0;
  background-color: #b38989;
  border: none;
  padding: 8px;
}

th {
  padding: 20px;
  background-color: #f0aeae;
  width: 50%;
}

.container-pedidos {
  grid-column: 1/-1;
  padding: 20px;
}

.colum-pedidos {
  width: 5%;
}/*# sourceMappingURL=styles.css.map */